@font-face{
  font-family: roboto-black;
  src:url(fonts/Roboto-Black.ttf);
}

body {
  font-family: roboto-black, monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.right-links {
  display: flex;
}

img {
  max-height: 100px;
  max-width: 100px;
}

ul {
  list-style: none;
}

.link1, .link2 {
  margin-right: 20px;
}