@font-face {
  font-family: roboto-black;
  src:url(fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-regular;
  src:url(fonts/Roboto-Regular.ttf);
}

body {
  font-family: roboto-black, monospace;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1F2937;
  color: white;
}

.right-links {
  display: flex;
}

img {
  max-height: 100px;
  max-width: 100px;
}

ul {
  list-style: none;
  font-family: roboto-regular, monospace;
}

a {
  text-decoration: none;
}

a:visited { 
 text-decoration: none;
 color: white;
}

.link1, .link2 {
  margin-right: 20px;
}