@font-face {
  font-family: roboto-black;
  src:url(fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-regular;
  src:url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-thin;
  src:url(fonts/Roboto-Thin.ttf);
}

body {
  font-family: roboto-black, monospace;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1F2937;
}

.header-logo-text {
  color: white;
  font-size: 24px;
}

.right-links {
  display: flex;
  margin-top: auto;
  margin-bottom: auto; 
  font-size: 18px;
}

.section1 {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.left-side {
  max-width: 45%;
}

.right-side {
  margin-top: auto;
  margin-bottom: auto; 
}

.hero-main-text {
  font-size: 48px;
  color: #F9FAF8;
  margin: 0;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  font-family: roboto-thin;
  margin: 0;
}

.hero-secondary-text, button {
  margin-top: 5px;
}

.information-header-text {
  font-size: 36px;
  color: #1F2937;
  margin: 0;
  text-align: center;
}

button {
  background-color: #3b82f6;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 7px 25px;
}

img {
  max-height: 100px;
  max-width: 100px;
}

ul {
  list-style: none;
  font-family: roboto-regular, monospace;
}

a {
  text-decoration: none;
}

a:visited { 
 text-decoration: none;
 color: #E5E7EB;
}

.link1, .link2 {
  margin-right: 20px;
}